<!-- IMPORT MODULE DETAIL -->
<!-- 

	Module : 	AuthorList
	
	Links : 	AuthorEdit
					/authors/{id}
.				
	
	Nesteds : 	
				
-->
<!-- /IMPORT MODULE DETAIL -->
<div ng-controller="AuthorListController">
	
	<h1>AuthorList</h1>
	
	<!-- SEARCH FORM -->
	<div class="well">
	    <form name="form_search" class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
					<label for="gender">Gender</label>
				</div>
				<div class="col-sm-9 form-group" >
					<select class="form-control" ng-model="search.gender" name="gender" id="gender">
						<option></option>
						<option value="F">F</option>
						<option value="M">M</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label for="name">Name</label>
				</div>
				<div class="col-sm-9 form-group" >
					<input type="text" ng-model="search.name" class="form-control" name="name" id="name" >
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label for="surname">Surname</label>
				</div>
				<div class="col-sm-9 form-group" >
					<input type="text" ng-model="search.surname" class="form-control" name="surname" id="surname" >
				</div>
			</div>
		</form>
	</div>
	
	<!-- TABLE -->
	<table class="table table-condensed table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>_id</th>
				<th>gender</th>
				<th>name</th>
				<th>surname</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in list | filter: {  gender:search.gender,  name:search.name,  surname:search.surname,  }">
				<td ng-bind="item._id" ng-link="/authors/{{item._id}}"></td>
				<td ng-bind="item.gender"></td>
				<td ng-bind="item.name"></td>
				<td ng-bind="item.surname"></td>
			</tr>
		</tbody>
	</table>
	
	<!-- BUTTON -->
	<button class="btn btn-primary" ng-link="/authors/new">New</button>
	
</div>