<!-- IMPORT MODULE DETAIL -->
<!-- 

	Module : 	BookEdit
	
	Links : 	
	
	Nesteds : 	
				
-->
<!-- /IMPORT MODULE DETAIL -->
<div ng-controller="BookEditController">
	
	<h1 class="col-sm-12 ng-binding">
		<span>BookEdit</span>
		{{obj.name}}
	</h1>
	
	
	
	<div class="well">
		<form name="easyForm" class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
					<label for="title">Title</label>
				</div>
				<div class="col-sm-9 form-group" ng-class="{ 'has-error' : easyForm.title.$invalid }">
					<input  type="text" ng-model="obj.title"  class="form-control" name="title" id="title" required>
		 			<p ng-show="easyForm.title.$invalid" class="help-block">Value is required</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label for="year">Year</label>
				</div>
				<div class="col-sm-9 form-group" ng-class="{ 'has-error' : easyForm.year.$invalid }">
					<input string-to-number type="number" ng-model="obj.year"  class="form-control" name="year" id="year" >
		 			
				</div>
			</div>
			
			
			<h2>Relations</h2>
			<div class="row">
				<div class="col-sm-3">
					<label for="_author">
						_author
					</label>
				</div>
				<div class="col-sm-9 form-group" ng-class="{ 'has-error' : easyForm._author.$invalid }">
					<select ng-model="obj._author" class="form-control" name="_author" id="_author" required >
						<option ng-repeat="item in list_Author"  value="{{item._id}}">{{item._id}}</option>
					</select>
		 			<p ng-show="easyForm._author.$invalid" class="help-block">Value is required</p>
				</div>
			</div>
			
			
			<h2>External Relations</h2>
			
	
			<div class="row">
				<button ng-if="obj._id" class="btn btn-danger" data-toggle="modal" data-target="#removeModal">
					<i class="glyphicon glyphicon-trash"></i> Remove
				</button>
				
				<button class="btn btn-info pull-right" ng-link="/books/">Back to List</button>
				<button type="submit" class="btn btn-primary pull-right" ng-disabled="easyForm.$invalid" ng-click="save()">Save</button>
			</div>
			<div class="clearfix"></div>
		</form>
		
	</div>
	
	
	<!-- MODAL REMOVE -->
	<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Delete item</h4>
				</div>
				<div class="modal-body">
					Do you want confirm delete? 
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="remove()">YES</button>
				</div>
			</div>
		</div>
	</div>
</div>